In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LI_BUILDING_FOOTPRINTS.csv")

In [3]:
df.describe()

,OBJECTID,BIN,FCODE,BASE_ELEVATION,APPROX_HGT,MAX_HGT,DOR_ALTERNATE_ADDR,SQUARE_FT,Shape__Area,Shape__Length
count,545784.000000,5.457840e+05,545784.000000,545784.000000,537572.000000,538553.000000,0.0,5.452510e+05,545784.000000,545784.000000
mean,272892.500000,1.278614e+06,1807.657626,111.164245,25.612141,30.754792,NaN,1.383852e+03,220.216069,60.799570
std,157554.413996,1.727783e+05,65.102802,84.184668,9.277084,11.366928,NaN,1.062296e+04,1696.361127,57.768222
min,1.000000,1.000001e+06,0.000000,-38.250000,-20.000000,0.000000,NaN,0.000000e+00,0.000000,0.393782
25%,136446.750000,1.138911e+06,1810.000000,42.100000,20.000000,27.000000,NaN,6.430000e+02,101.902344,46.770115
50%,272892.500000,1.276162e+06,1810.000000,96.900000,30.000000,30.000000,NaN,7.990000e+02,126.644531,54.685642
75%,409338.250000,1.413532e+06,1810.000000,137.300000,30.000000,34.000000,NaN,1.033000e+03,163.882812,63.585340
max,545784.000000,3.998147e+06,1830.000000,446.200000,700.000000,982.000000,NaN,4.604479e+06,727746.601562,20052.946587

In [4]:
df.head(3)

,OBJECTID,BIN,FCODE,ADDRESS,BUILDING_NAME,BASE_ELEVATION,APPROX_HGT,MAX_HGT,PARCEL_ID_NUM,PARCEL_ID_SOURCE,DOR_ALTERNATE_ADDR,SQUARE_FT,Shape__Area,Shape__Length
0,1,1000001,1810,1501 N 18TH ST,NaN,104.2,20.0,28.0,319860,PWD,NaN,617.0,97.761719,40.383631
1,2,1000002,1810,1501 N 18TH ST,NaN,103.3,20.0,29.0,319860,PWD,NaN,629.0,99.632812,40.691884
2,3,1000003,1810,1501 N 18TH ST,NaN,103.9,20.0,28.0,319860,PWD,NaN,608.0,96.292969,40.145485

In [5]:
df["Shape__Area"]

0            97.761719
1            99.632812
2            96.292969
3           217.988281
4            98.699219
              ...
545779    12880.371094
545780     6027.238281
545781     5505.914062
545782     2751.582031
545783    37219.605469
Name: Shape__Area, Length: 545784, dtype: float64

In [6]:
df["Shape__Area"].max()

727746.6015625

In [8]:
df.groupby("FCODE")["Shape__Area"].count()

FCODE
0          707
1810    545015
1830        62
Name: Shape__Area, dtype: int64

In [9]:
df.groupby("PARCEL_ID_SOURCE")["Shape__Area"].count()

PARCEL_ID_SOURCE
DOR       333
LI        226
PWD    544924
Name: Shape__Area, dtype: int64

In [11]:
df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].max()

PARCEL_ID_SOURCE
DOR      52112.0
LI       61246.0
PWD    4604479.0
Name: SQUARE_FT, dtype: float64

In [12]:
df["BIN"].head()

0    1000001
1    1000002
2    1000003
3    1005345
4    1000004
Name: BIN, dtype: int64

In [13]:
df[["BIN", "FCODE"]].head()

       BIN  FCODE
0  1000001   1810
1  1000002   1810
2  1000003   1810
3  1005345   1810
4  1000004   1810

In [15]:
df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].max()["ADDRESS"]

KeyError: 'ADDRESS'

In [16]:
tall_buildings = df[df["MAX_HGT"] > 50]

In [17]:
tall_buildings.head()

,OBJECTID,BIN,FCODE,ADDRESS,BUILDING_NAME,BASE_ELEVATION,APPROX_HGT,MAX_HGT,PARCEL_ID_NUM,PARCEL_ID_SOURCE,DOR_ALTERNATE_ADDR,SQUARE_FT,Shape__Area,Shape__Length
131,132,1005398,1810,1733 W OXFORD ST,NaN,107.8,30.0,54.0,56388,PWD,NaN,929.0,147.128906,60.281856
169,170,1000101,1810,1733 W MONTGOMERY AVE,NaN,104.9,50.0,51.0,146250,PWD,NaN,1306.0,206.929688,79.380518
349,350,1000797,1810,1801-35 N BROAD ST,Sullivan Hall,88.6,60.0,81.0,537302,PWD,NaN,13229.0,2095.683594,193.430493
351,352,1000798,1810,1501-09 N 20TH ST,New Mt Zion Pentecostal,110.7,50.0,81.0,123585,PWD,NaN,5565.0,881.496094,130.120162
519,520,1000272,1810,2240-48 N BROAD ST,Uptown Theater,82.2,50.0,106.0,95185,PWD,NaN,15660.0,2481.218750,230.812408

In [18]:
df["Estimated_Volume"] = df["Shape__Area"] * df["MAX_HGT"]

In [19]:
df["Estimated_Volume"].head()

0    2737.328125
1    2889.351562
2    2696.203125
3    5449.707031
4    2763.578125
Name: Estimated_Volume, dtype: float64

In [20]:
df.head()

,OBJECTID,BIN,FCODE,ADDRESS,BUILDING_NAME,BASE_ELEVATION,APPROX_HGT,MAX_HGT,PARCEL_ID_NUM,PARCEL_ID_SOURCE,DOR_ALTERNATE_ADDR,SQUARE_FT,Shape__Area,Shape__Length,Estimated_Volume
0,1,1000001,1810,1501 N 18TH ST,NaN,104.2,20.0,28.0,319860,PWD,NaN,617.0,97.761719,40.383631,2737.328125
1,2,1000002,1810,1501 N 18TH ST,NaN,103.3,20.0,29.0,319860,PWD,NaN,629.0,99.632812,40.691884,2889.351562
2,3,1000003,1810,1501 N 18TH ST,NaN,103.9,20.0,28.0,319860,PWD,NaN,608.0,96.292969,40.145485,2696.203125
3,4,1005345,1810,3226 W PENN ST,NaN,220.2,20.0,25.0,515802,PWD,NaN,1375.0,217.988281,66.111953,5449.707031
4,5,1000004,1810,1501 N 18TH ST,NaN,103.6,20.0,28.0,319860,PWD,NaN,623.0,98.699219,40.543015,2763.578125

In [21]:
avg_height = df.groupby("FCODE")["MAX_HGT"].mean()

In [22]:
avg_height

FCODE
0       56.451613
1810    30.740552
1830    82.285714
Name: MAX_HGT, dtype: float64

In [24]:
df.groupby("PARCEL_ID_SOURCE").apply(
    lambda g: g.loc[g["SQUARE_FT"].idxmax(), ["ADDRESS", "SQUARE_FT"]]
)

                                           ADDRESS  SQUARE_FT
PARCEL_ID_SOURCE
DOR                                            NaN    52112.0
LI                               5201 PARKSIDE AVE    61246.0
PWD               3117 S CHRISTOPHER COLUMBUS BLVD  4604479.0

In [28]:
df.loc[df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].idxmax(), 
       ["PARCEL_ID_SOURCE", "SQUARE_FT", "ADDRESS"]]

       PARCEL_ID_SOURCE  SQUARE_FT                           ADDRESS
469018              DOR    52112.0                               NaN
532665               LI    61246.0                 5201 PARKSIDE AVE
8081                PWD  4604479.0  3117 S CHRISTOPHER COLUMBUS BLVD

In [29]:
df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].max()

PARCEL_ID_SOURCE
DOR      52112.0
LI       61246.0
PWD    4604479.0
Name: SQUARE_FT, dtype: float64

In [37]:
df.groupby("PARCEL_ID_SOURCE")[["SQUARE_FT"]]

PARCEL_ID_SOURCE
DOR    469018
LI     532665
PWD      8081
Name: SQUARE_FT, dtype: int64

In [38]:
df.loc[df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].idxmax(), 
       [*]]

SyntaxError: invalid syntax (239966171.py, line 2)

In [41]:
idx = df.groupby("PARCEL_ID_SOURCE")["SQUARE_FT"].idxmax()

# 用 loc 取出对应行和想要的列
result = df.loc[idx, ["PARCEL_ID_SOURCE", "SQUARE_FT", "ADDRESS"]]

# 如果需要按 PARCEL_ID_SOURCE 排序
result = result.sort_values("PARCEL_ID_SOURCE").reset_index(drop=True)

In [42]:
result

  PARCEL_ID_SOURCE  SQUARE_FT                           ADDRESS
0              DOR    52112.0                               NaN
1               LI    61246.0                 5201 PARKSIDE AVE
2              PWD  4604479.0  3117 S CHRISTOPHER COLUMBUS BLVD

In [43]:
df.to_csv("export_with_volume.csv", index=False)